{{ form_start(form) }}
<div class="my-custom-class-for-errors">
    {{ form_errors(form) }}
</div>

<div class="row">
    <div class="form-group col-md-5">
        {{ form_row(form.artiste_id) }}
    </div>
    <div class="form-group col-md-10">
        {{ form_row(form.type) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_row(form.date_start) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_row(form.date_end) }}
    </div>
    <div class="form-group col-md-5">
        {{ form_row(form.lieu) }}
    </div>
    <div class="form-group col-md-5">
        {{ form_row(form.ville) }}
    </div>
    <div class="form-group col-md-10">
        {{ form_row(form.description) }}
    </div>
    <div class="form-group col-md-5">
        {{ form_row(form.prix) }}
    </div>

</div>
<div class="button">
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button></div>

{{ form_end(form) }}