{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <h2>{% trans %}Evenement{% endtrans %}</h2>
    <h3>{% trans %}Les prochains concerts dans ma ville{% endtrans %}</h3>
<p>{% trans with {events: NbCities } %} num_of_event {% endtrans %}</p>
<ul>
{% for citi in city %}
<li><a href="{{ path('event_show', {'id': citi.id})}}"><strong> {{ citi.artisteId.nom }}</strong></a></li>
<li>{{ citi.dateStart ? citi.dateStart|date('d-m-Y') : '' }}

<li>{{ citi.lieu }}</li>
<li>{{ citi.ville }}</li>
{% endfor %}
<ul>
    {{ asset ('./image/concertP.jpg') | figure('That\'s my show', '1200px','600px','slam dans le public') | raw }}


<h3>{% trans %}Tous les concerts{% endtrans %}</h3>
    <table class="table table-bordered table-hover p-3 m-4">
        <thead class="thead-dark">
            <tr>
                <th>{% trans %}Artiste{% endtrans %}</th>
                <th>{% trans %}Type{% endtrans %}</th>
                <th>{% trans %}Date{% endtrans %}</th>
                
                <th>{% trans %}Lieu{% endtrans %}</th>
                <th>{% trans %}Ville{% endtrans %}</th>
                
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td class="font-weight-bold">{{ event.artisteId.nom }}</td>
                <td>{{ event.type }}</td>
                <td>{{ event.dateStart ? event.dateStart|date('d-m-Y') : '' }}</td>
            
                <td>{{ event.lieu }}</td>
                <td>{{ event.ville }}</td>
               
               
                <td>
                    <a class= "btn btn-dark" href="{{ path('event_show', {'id': event.id}) }}">{% trans %}Voir la fiche de l'événement{% endtrans %}</a>
                   {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a class= "btn btn-secondary" href="{{ path('event_edit', {'id': event.id}) }}">{% trans %}Editer{% endtrans %}</a>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if is_granted('ROLE_SUPER_ADMIN') %}
    <a class= "btn btn-secondary" href="{{ path('event_new') }}">{% trans %}Créer un nouvel artiste{% endtrans %}</a>
    
     {% endif %}
{% endblock %}
