{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h2>Event index</h2>
    
    {{ asset ('./image/concertP.jpg') | figure('That\'s my show', '1200px','600px','slam dans le public') | raw }}

    <table class="table table-bordered table-hover p-3 m-4">
        <thead class="thead-dark">
            <tr>
                <th>Artiste</th>
                <th>Type</th>
                <th>Date_start</th>
                
                <th>Lieu</th>
                <th>Ville</th>
                
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td class="font-weight-bold">{{ event.artisteId.nom }}</td>
                <td>{{ event.type }}</td>
                <td>{{ event.dateStart ? event.dateStart|date('d-m-Y') : '' }}</td>
            
                <td>{{ event.lieu }}</td>
                <td>{{ event.ville }}</td>
               
               
                <td>
                    <a classe= "btn btn-secondary" href="{{ path('event_show', {'id': event.id}) }}">Voir la fiche de l'événement</a>
                   {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('event_edit', {'id': event.id}) }}">edit</a>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if is_granted('ROLE_SUPER_ADMIN') %}
    <a href="{{ path('event_new') }}">Create new</a>
     {% endif %}
{% endblock %}
