{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
  {{message}}
<h2>Bienvenue sur My Music Label</h2>
<div class='row'>
    <section class="col-lg-8">

{{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

{# <table class="table table-bordered table-dark col-lg-12">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Presentation</th>
            <th>Style</th>
        </tr>
    </thead>
    <tbody>
        {% for artist in artiste %}
        <tr>
            <td><a href={{ path('artiste_show', {'id':artist.id}) }}>{{ artist.nom }}<a></td>
            <td>{{ artist.presentation }}</td>
            <td>{{ artist.style }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table> #}

    <article class="col-lg-12">
        <h3>Actualités</h3>
        {% for actualite in actualites %}
        <ul class="list-group">
            <li class="list-group-item active bg-secondary">{{ actualite.idArtiste.nom }}</li>
            <li class="list-group-item">{{ actualite.datePublication ? actualite.datePublication|date('d-m-Y') : '' }}
            </li>
            <li class="list-group-item">{{ actualite.thematique }}</li>
            <li class="list-group-item">{{ actualite.contenu }}</li>
        </ul>
        {% endfor %}
    </article>
    
</section>

        <div class="col-lg-4">
            <div class="row">
    <aside class="col-lg-12">
        <h3><a id ="linkEvent" href="{{ path ('event_index') }}">Les événements à venir</a></h3>
        {{ asset ('./image/concert.webp') | figure('', '300px','150px','concert') | raw }}
        {% for event in events %}
        <ul>
            <li><strong>{{ event.artisteId.nom }}</strong></li>
            <li><strong>Type d'événement : </strong>{{ event.type }}</li>
            <li><strong>Date : </strong>{{ event.dateStart ? event.dateStart|date('d-m-Y') : '' }}</li>
            <li><strong>Lieu : </strong>{{ event.lieu }}</li>
            <li><strong>Ville : </strong>{{ event.ville }} </li>
        </ul>
        {% endfor %}
    </aside>
    </div>
    </div>
</div>
{% endblock %}