{% extends 'base.html.twig' %}

{% block title %}Actualite index{% endblock %}

{% block body %}
    <h2>{% trans %}Actualite{% endtrans %}</h2>

    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Artiste</th>
                <th>Thematique</th>
                <th>Contenu</th>
                <th>Date_publication</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actualite in actualites %}
            <tr>
                <td class="font-weight-bold">{{ actualite.idArtiste.nom }}</td>
                <td>{{ actualite.thematique }}</td>
                <td>{{ actualite.contenu }}</td>
                <td>{{ actualite.datePublication ? actualite.datePublication|date('d-m-Y') : '' }}</td>
                <td>
                    <a href="{{ path('actualite_show', {'id': actualite.id}) }}">Voir l'actualité</a>
                  {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('actualite_edit', {'id': actualite.id}) }}">edit</a>
               {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 {% if is_granted('ROLE_SUPER_ADMIN') %}
    <a href="{{ path('actualite_new') }}">Create new</a>
     {% endif %}
{% endblock %}
